[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.1.7"
google-api-python-client = "==2.142.0"
google-auth-oauthlib = "==1.2.1"
pytz = "==2024.1"

[dev-packages]
black = "==22.3.0"

[requires]
python_full_version  = "3.12.5"
